create table INFESTATION_DATA (
	infest_id INT,
	lib_id INT,
	category VARCHAR(6),
	name VARCHAR(50),
	brief TEXT,
	description TEXT,
	occurrence_factor DECIMAL(10,9),
	size INT,
	uri VARCHAR(1000)
);
create table INFESTLABEL_DATA (
	infestlbl_id INT,
	infest_id INT,
	label_name VARCHAR(12),
	associativity DECIMAL(10,9)
);
insert into INFESTLABEL_DATA (infestlbl_id, infest_id, label_name, associativity) values (1, 425, 'Factory Farm', 0.011794824);
insert into INFESTLABEL_DATA (infestlbl_id, infest_id, label_name, associativity) values (2, 777, 'Home-grown', 1.066353977);
insert into INFESTLABEL_DATA (infestlbl_id, infest_id, label_name, associativity) values (3, 121, 'Factory Farm', 0.818096986);
create table LABELASSOCIATION_DATA (
	assoc_id INT,
	label_name VARCHAR(12),
	related_label_name VARCHAR(12),
	type VARCHAR(9),
	description TEXT,
	associativity DECIMAL(10,9)
);
insert into LABELASSOCIATION_DATA (assoc_id, label_name, related_label_name, type, description, associativity) values (1, 'Organic', 'Organic', 'Expands', 'Aenean sit amet justo.', 1);
insert into LABELASSOCIATION_DATA (assoc_id, label_name, related_label_name, type, description, associativity) values (2, 'Organic', 'GMO', 'SimilarTo', 'Phasellus in felis. Donec semper sapien a libero. Nam dui.', 0.861819631);
insert into LABELASSOCIATION_DATA (assoc_id, label_name, related_label_name, type, description, associativity) values (3, 'Organic', 'Small Batch', 'PartOf', 'Quisque id justo sit amet sapien dignissim vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla dapibus dolor vel est. Donec odio justo, sollicitudin ut, suscipit a, feugiat et, eros.', 0.604851088);
create table LABEL_DATA (
	label_name VARCHAR(12),
	infest_id INT,
	description TEXT,
	uri VARCHAR(1000)
);
insert into LABEL_DATA (label_name, infest_id, description, uri) values ('Organic', 1, 'Vestibulum ac est lacinia nisi venenatis tristique. Fusce congue, diam id ornare imperdiet, sapien urna pretium nisl, ut volutpat sapien arcu sed augue. Aliquam erat volutpat.

In congue. Etiam justo. Etiam pretium iaculis justo.

In hac habitasse platea dictumst. Etiam faucibus cursus urna. Ut tellus.', 'http://mysql.com/duis/consequat/dui/nec/nisi/volutpat/eleifend.aspx');
insert into LABEL_DATA (label_name, infest_id, description, uri) values ('GMO', 1, 'Fusce consequat. Nulla nisl. Nunc nisl.

Duis bibendum, felis sed interdum venenatis, turpis enim blandit mi, in porttitor pede justo eu massa. Donec dapibus. Duis at velit eu est congue elementum.', 'https://4shared.com/in/consequat/ut/nulla/sed.jsp');
create table LIBRARY_DATA (
	lib_id INT,
	name VARCHAR(16),
	brief TEXT,
	uri VARCHAR(1000)
);
insert into LIBRARY_DATA (lib_id, name, brief, uri) values (1, 'Onions & Flagons', 'Duis consequat dui nec nisi volutpat eleifend. Donec ut dolor.', 'https://phpbb.com/tortor.html');
