<h1>Welcome!</h1>
<p>This is <em>DunGen</em>, (soon to be) the world's best random dungeon generator.</p>
<app-random-dungeon>Loading...</app-random-dungeon>
<h2>About the App</h2>
<p><em>DunGen</em> is a web application supporting:</p>
<ul>
  <li>
    Customized dungeon generating routines, using a broad tool box of parameterized algorithms ("MazeCarver + DeadEndFiller + RoomCarver = MyNewDungeonMakerRoutine"). This includes:
    <ul>
      <li>Dungeon layout generating (as described above)</li>
      <li>Dungeon <em>infestation</em> with traps, enemies, and treasure!</li>
    </ul>
  </li>
  <li>Paint yor dungeon's <em>pattern</em>, using a painting palette comrised of all your custom routines, along with community-made routines, then generate it! Voila: randomized dungeons followign the same handmade pattern.</li>
  <li>Infest your dungeon automatically, or manually, using a number of canonical and community-made <em>Libraries</em>.</li>
  <li>Interactive full-control editing of your dungeon, every step of the way</li>
  <li>Save your dungeon, and export to a slew of formats such as PDF, HTML, and so on!</li>
</ul>
<p>Designed to be both easy-to-use, and highly customizable, and portable to any game system (both tabletop and desktop), it's the last dungeon generator you'll ever need.</p>
<p>Where does that dungeon generator app live? Right here, when it's ready. Many parts of the frankework have been developed, but it still needs a frontend, and plenty of tuning.</p>
<h2>About the Project</h2>
<p>The <em>DunGen Library</em> is the framework powering <em>DunGen</em> (this site), the world's best random dungeon generator.</p>
<p>Both are part of the same open-source project! Big thanks to our <a href="https://github.com/jnickg/dungen-core/graphs/contributors">contributors</a>!</p>
<ul>
  <li>We use the GPL-2.0 License.</li>
  <li>
    See our source code: <a href='https://github.com/jnickg/dungen-core'>GitHub Repository</a>.
    <ul>
      <li>See <a href="https://github.com/jnickg/dungen-core/blob/master/CONTRIBUTING.md">CONTRIBUTING.md</a> to learn how to start helping!</li>
      <li>Take a look at our <a href="https://github.com/jnickg/dungen-core/milestones">current milestones</a>.</li>
    </ul>
  </li>
  <li>And here's our <a href='#'>documentation</a>.</li>
  <li>Find us on <a href="https://join.slack.com/t/dungenworkspace/shared_invite/zt-hihawh69-HN33XJ1i0ME7orP6FSPLnw">Slack</a>!</li>
</ul>
