<h1>DunGen</h1>
<p>Welcome to DunGen, the world's best random dungeon generator.</p>
<h2>About</h2>
<p>DunGen is an open-source project:</p>
<ul>
  <li>We use the GPL-2.0 License.</li>
  <li>The main website can be found <a href='#'>here</a>.</li>
  <li>See our source code: <a href='https://github.com/jnickg/dungen-core'>GitHub Repository</a>. See <a href="https://github.com/jnickg/dungen-core/blob/master/CONTRIBUTING.md">CONTRIBUTING.md</a> to learn how to start helping!</li>
  <li>And here's our <a href='#'>documentation</a>.</li>
</ul>
<h2>Upcoming</h2>
<p>Once developed, this website will expose an interface for ✨customizing algorithms, ✨painting a dungeon layout (think "I want a maze here and a cave there," not individual tiles in your grid), and ✨editing dungeons at any stage of generation.</p>
<p><em>But right now, it's just this page</em> 😭😭😭</p>
